@model TaskIndexFilter

<section id="filters">
    <h3 id="toggle-filters">
        <span class="open">&#11206;</span>
        <span class="closed">&#11208;</span>
        <span>Filters</span>
        <span class="count">(@Model.GetActiveCount())</span>
    </h3>

    <form method="get">
        <div>
            <label asp-for="@Model.Title"></label>
            <input asp-for="@Model.Title" />
        </div>

        <div>
            <label asp-for="@Model.CreatedStart">Created start</label>
            <input asp-for="@Model.CreatedStart" />
        </div>

        <div>
            <label asp-for="@Model.CreatedEnd">Created end</label>
            <input asp-for="@Model.CreatedEnd" />
        </div>

        <div>
            <label>Sort by</label>
            <select asp-for="Sort">
                <option value="created">Created</option>
                <option value="updated">Updated</option>
                <option value="title">Title</option>
                <option value="done">Status</option>
            </select>
        </div>

        <div>
            <p class="label">Sort direction</p>

            <div class="radio-buttons" >
                <div>
                    <input asp-for="@Model.SortAscending" type="radio" value="true" checked="@(Model.SortAscending is true or null)"/>

                    <label asp-for="@Model.SortAscending">Ascending</label>
                </div>

                <div>
                    <input asp-for="@Model.SortAscending" type="radio" value="false" checked="@(Model.SortAscending is false)"/>

                    <label asp-for="@Model.SortAscending">Descending</label>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button type="submit">Save</button>

            <a asp-controller="Task" asp-action="Index" class="button warning">Clear</a>
        </div>
    </form>
</section>