@model TaskIndexViewModel

@{
    ViewData["Title"] = @Model.List?.Title;
}

@if (Model.ErrorMessages is not null)
{
    <partial name="_ErrorMessagesPartial" model="@Model.ErrorMessages" />
}
else if (Model.List is not null)
{
    <section class="content">
        <h2>@ViewData["Title"]</h2>
        
        <div class="buttons">
            <button id="return-button" class="warning">Return</button>

            @if (@Model.List.OwnerId == User.GetId())
            {
                <a asp-action="Create" asp-route-listId="@Model.List.Id" class="button">Add task</a>
            }
        </div>

        <partial name="_ListPartial" model="@Model.List" />
        
        <partial name="_FilterPartial" model="@Model.TaskIndexFilter" />

        <section id="results">
            <h3>@Model.PaginationPartialModel?.TotalItems result@(Model.PaginationPartialModel?.TotalItems != 1 ? "s" : ""):</h3>

            <ul>
                @foreach (var taskResult in Model.List.TaskResults)
                {
                    <li>
                        <h4>@taskResult.Title</h4>
                        
                        <div class="data">
                            <p>
                            Status:
                            @if (taskResult.Done)
                            {
                                <span class="done">Done</span>
                            }
                            else
                            {
                                <span>To do</span>
                            }
                            <p>Created: @taskResult.Created.ToShortDateString()</p>
                        </div>

                        <div class="buttons">
                            @if (@Model.List.OwnerId == User.GetId())
                            {
                                <a asp-controller="ToDo" asp-action="Edit" asp-route-id="@taskResult.Id" asp-route-listId="@Model.List.Id" class="button">Edit</a>
                            }
                        </div>
                    </li>
                }
            </ul>

            <partial name="_PaginationPartial" model="@Model.PaginationPartialModel" />
        </section>
    </section>
}

@section Scripts
{
    <script src="~/js/filters.js"></script>
}