@model ListIndexViewModel

@{
    ViewData["Title"] = "Lists";
}

<h2>@ViewData["Title"]</h2>

<a asp-action="Create" class="button">Create</a>

@if (Model.ErrorMessages is not null)
{
    <partial name="_ErrorMessagesPartial" model="@Model.ErrorMessages"/>
}
else if (Model.Lists is not null)
{
    <partial name="_FilterPartial" model="@Model.ListIndexFilter" />

    <section id="results">
        <h3>@Model.PaginationPartialModel?.TotalItems result@(Model.PaginationPartialModel?.TotalItems != 1 ? "s" : ""):</h3>

        <ul>
            @foreach (var list in @Model.Lists)
            {
                <li>
                    <h4>@list.Title</h4>

                    <partial name="_ListPartial" model="@list"/>
                    
                    <div class="buttons">
                        <a asp-controller="ToDo" asp-action="Index" asp-route-listId="@list.Id" class="button">View</a>

                        @if (list.OwnerId == User.GetId())
                        {
                            <a asp-controller="List" asp-action="Edit" asp-route-id="@list.Id" class="button">Edit</a>
                        }
                    </div>
                </li>
            }
        </ul>

        <partial name="_PaginationPartial" model="@Model.PaginationPartialModel" />
    </section>
}

@section Scripts
{
    <script src="~/js/filters.js"></script>
}